{erl_opts, [
    debug_info,
    {i, "./include"}
]}.
{deps, [
    sync,
    {'mysql-otp-poolboy', {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {branch, "master"}}}
]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [erl_gs_db]}
]}.
{dist_node, [
    {setcookie, 'abc'},
    {name, 'test@127.0.0.1'},
    {boot, start_sasl}
]}.